@import "reset.scss";

@import "primereact/resources/themes/saga-blue/theme.css";
@import "primereact/resources/primereact.min.css";
@import "primeflex/primeflex.min.css";
@import "primeicons/primeicons.css";
@import "primereact-custom.scss";

// @import "@fancyapps/ui/dist/fancybox.css";
@import "fancybox.scss";

@import "nprogress/nprogress.css";

@import "react-toastify/dist/ReactToastify.min.css";

:root {
  font-size: 16px;
  --primary-color: #ee3c06;
  --text-color-1: #3c3c3c;
  --text-color-2: #595959;
  --bg-grey: #f8f8f8;
  --border-color: #c9c9c9;
  --border-color-light: #e8e8e8;
  --border-radius: 10px;
  --global-padding: 1rem;
  --green: #638b59;
  --blue: #427396;
  --red: #ce2020;
  --grey: #c9c9c9;

  --button-primary-color: #3386cd;

  // React-toastify
  --toastify-color-progress-light: var(--primary-color);
}

// Native
body {
  color: var(--text-color-1);
  overscroll-behavior-y: contain;
  background-color: #ffffff;
  margin: 0;
}

a.link {
  color: var(--primary-color);
  text-decoration-line: underline;
  cursor: pointer;
}

hr {
  border-bottom: 1px solid var(--border-color);
  width: 100%;
  margin: 20px 0;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

// Custom classes

.global-padding {
  padding: 0 var(--global-padding);
}

svg.svg-icon {
  path {
    fill: var(--text-color-1);
  }
}

.bottom-navigation {
  padding-bottom: 60px;
}

.dropdown-region-panel {
  .p-dropdown-item {
    padding: 1rem 1rem !important;
  }
}

.max-width-800 {
  max-width: 800px;
  margin: 0 auto;

  @media (min-width: 576px) {
    padding: 0 1rem;
  }
}

.max-width-500 {
  max-width: 500px;
  margin: 0 auto;
}
