@import "reset.scss";

@import "primereact/resources/themes/saga-blue/theme.css";
@import "primereact/resources/primereact.min.css";
@import "primeflex/primeflex.min.css";
@import "primeicons/primeicons.css";
@import "primereact-custom.scss";

@import "libraries/fancybox";
@import "libraries/tippy";	
@import "keen-slider/keen-slider.min.css";

@import "nprogress/nprogress.css";

@import "react-toastify/dist/ReactToastify.min.css";

:root {
  font-size: 16px;
  --primary-color: #2c5776;
  --text-color-1: #3c3c3c;
  --text-color-2: #595959;
  --bg-grey: #f8f8f8;
  --border-color: #c9c9c9;
  --border-color-light: #e8e8e8;
  --border-radius: 10px;
  --global-padding: 1.2rem;
  --green: #638b59;
  --blue: #2c5776;
  --red: #ce2020;
  --grey: #c9c9c9;
  --bottom-navigation-height: 60px;

  --button-primary-color: #3386cd;

  // React-toastify
  --toastify-color-progress-light: var(--primary-color);
}

// Native
body {
  color: var(--text-color-1);
  overscroll-behavior-y: contain;
  background-color: #ffffff;
  margin: 0;
}

a.link {
  color: var(--primary-color);
  text-decoration-line: underline;
  cursor: pointer;
}

hr {
  border-bottom: 1px solid var(--border-color);
  width: 100%;
  margin: 20px 0;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

// Custom classes

.global-padding {
  padding: 0 var(--global-padding);
}

svg.svg-icon {
  path {
    fill: var(--text-color-1);
  }
}

svg.svg-icon-white {
  path {
    fill: #ffffff;
  }
}

svg.svg-icon-destructive {
  path {
    fill: rgb(168, 23, 23);
  }
}

.bottom-navigation {
  padding-bottom: var(--bottom-navigation-height);
}

.dropdown-region-panel {
  margin-top: 6px;

  .p-dropdown-item {
    padding: 0.8rem 1rem !important;
  }
  .p-dropdown-item {
    text-align: center;
  }
  .p-dropdown-items-wrapper {
    max-height: 300px !important;
  }
}

.max-width-800 {
  max-width: 1000px;
  margin: 0 auto;

  @media (min-width: 576px) {
    padding: 0 1rem;
  }
}

.max-width-500 {
  max-width: 500px;
  margin: 0 auto;
}

// PrimeReact

.p-sidebar-contribution {
  height: auto !important;
  border-radius: 20px 20px 0px 0px;

  .p-sidebar-content {
    padding: var(--global-padding);
  }
}

.p-inputtextarea {
  border-radius: 10px;
  border: 1px solid #828282;
  padding: 0.8rem 1rem;
}

.p-dropdown {
  border-radius: 10px;
  border: 1px solid #828282;
  padding: 0.3rem 0.5rem;
}

.p-inputtext {
  border-radius: 10px;
  border: 1px solid #828282;
  padding: 0.8rem 1rem;
}

.react-tooltip {
  z-index: 999;
}