.p-component {
  font-family: var(--font-family);
}

.p-component:focus {
  box-shadow: none;
}

// Tab view
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  border-color: var(--primary-color);
  color: var(--primary-color);
  justify-content: center;
}
.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  justify-content: center;
  color: var(--text-color-2);

  &:focus {
    box-shadow: none !important;
  }
}
.p-tabview .p-tabview-nav li {
  flex-grow: 1;
}
